In [4]:
#FIBONACCI SERIES
def fibonacci(n):
    a=0
    b=1
    if n<0:
        print("invalid input")
    elif n==0:
        return a
    elif n==1:
        return b
    else :
        for n in range(2,n):
            c=a+b
            a=b
            b=c
        return b
fibonacci(9)

21

In [ ]:
#$$$ PALIANDROM $$$#
num=int(input("enter a input:"))
rev=0
temp=num
if temp!=0:
    rev=(rev*10)+(temp%10)
    temp=temp//10
if  rev==num:
    print("paliandrom ")
else:
    print("not paliandrom")

In [ ]:
#           %%%% ARMSTRONG NUMBER  %%%%
lower = int(input("enter a number: "))
upper = int(input("enter a number: "))


for num in range(lower, upper + 1):
    order = len(str(num))
    sum = 0
    temp = num
    while temp > 0:
       digit = temp % 10
       sum = sum + digit ** order
       temp = temp//10

if num == sum:
       print(num)

In [10]:
#               prime number or not
number= int(input("enter a number "))
if num>1:
    for num in range(2,number):
        if number%num==0:
            print("not prime")
            break
        else:
            print("prime")

enter a number 450
not prime

In [14]:
#      leap year
year=int(input("enter a year:"))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print("{0} is leap year".format(year))
        else:
            print("{0} is not leap year".format(year))
    else:
        print("{0} is leap year".format(year))
else:
    print("{0} is not leap year".format (year))

enter a year:2000
2000 is leap year

In [4]:
#   REVERSE GIVEN NUMBER
number= int(input("enter a number "))
temp=number
rev=0
while temp!=0:
    rev=(rev*10)+(temp%10)
    temp=temp//10
print(rev)

enter a number 145
541

In [5]:
def remove(duplicate):
    final_list=[]
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list

duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print(remove(duplicate))

[2, 4, 10, 20, 5]

In [8]:
#                   Pyramid pattern using stars
num=int(input("enter a rows:"))
for i in range (1,num+1):
    for j in range (1,i+1):
        print("*",end=" ")
    print()

enter a rows:10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [9]:
#pyramid pattern with number
num=int(input("enter a rows:"))
for i in range (1,num+1):
    for j in range(1,i+1):
        print(i,end="")
    print()

enter a rows:5
1
22
333
4444
55555

In [17]:
num=int(input("enter a rows:"))
for i in range (1,num+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

enter a rows:5
1
12
123
1234
12345

In [16]:
                                #pyramid#
j=15

for i in range (1,10,2):
    print(" "*j+i*"*")
    j=j-1

               *
              ***
             *****
            *******
           *********

In [20]:
num=int(input("enter a rows:"))
for i in range (1,num+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

enter a rows:4
1
12
123
1234

In [21]:
num = int(input("Enter the range:  "))
# i loop for range(height) of the triangle
# first j loop for printing space ' '
# second j loop for printing stars '*'
for i in range(num):
    for j in range((num - i) - 1):
        print(end=" ")
    for j in range(i + 1):
        print("*", end=" ")
    print()

Enter the range: 	 5
    *
   * *
  * * *
 * * * *
* * * * *

In [30]:
num = int(input("Enter the range: "))
for i in range(num):
    for j in range((num-i)-1):
        print(end=" ")
    for j in range(i+1):
        print(i,end=" ")
    print()

Enter the range: 5
    0
   1 1
  2 2 2
 3 3 3 3
4 4 4 4 4

In [32]:
num = int(input("Enter the range: "))
for i in range (num):
    for j in range ((num-i)+1):
        print(end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()

Enter the range: 20
                     *
                    * *
                   * * *
                  * * * *
                 * * * * *
                * * * * * *
               * * * * * * *
              * * * * * * * *
             * * * * * * * * *
            * * * * * * * * * *
           * * * * * * * * * * *
          * * * * * * * * * * * *
         * * * * * * * * * * * * *
        * * * * * * * * * * * * * *
       * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * * *
     * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * * *

In [6]:
#largest of 3 numbers
num1=15
num2=11
num3=166
if( num1>num2 and num1>num3):
    largest=num1
elif num2>num3:
    largest=num2
else:
    largest=num3
print(largest)

166

In [3]:
#for given two numbers second number indi
def solve(x1,x2):
    num=x1**x2
    rev=0
    rev=rev+num%10
    print(rev)
x1=int(input())
x2=int(input())
solve(x1,x2)

4
5
4